
// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light_pink:  rgb(250, 195, 250);
$pink: rgb(255, 129, 255);
$light_gray:  rgb(216, 216, 216);
$dark_gray: rgba(128, 128, 128, 0.39);
$darker_gray: rgb(58, 58, 58);